h2 {
    text-transform: uppercase;
}

i.glyphicon {
    padding-right: 12px;
    padding-top: 10px;
    font-size: 25px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.padding-hori-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.items {
    margin: 0 10px;
}

.review-quantity .thumbnail {
    background-color: #e45f5f;
    height: 180px;
    width: 100%;
}

.teacher-quantity .thumbnail {
    background-color: #236AA1;
    height: 180px;
    width: 100%;
}

.student-quantity .thumbnail {
    background-color: #e6ea4b;
    height: 180px;
    width: 100%;
}

.online-quantity .thumbnail {
    background-color: #6be65a;
    height: 180px;
    width: 100%;
}

.list-group {
    height: 100vh;
    position: sticky;
    top: 0px;
    border-right: 1px solid #ddd;
    margin-bottom: 0px;
    background: #3a4651;
}

.list-group {
}

.list-group {
    border: none;
}

    .list-group .list-group-item {
        border-radius: 0px;
        border: 0px;
        cursor: pointer;
        background: #3A4652;
        padding-top: 25px;
        padding-bottom: 25px;
        /* text-transform: uppercase; */
        font-size: 15px;
    }

a.list-group-item {
    /* color: #a09c9c; */
    /* color: #a09c9c !important; */
    font-weight: 400;
    border-color: #212529;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container-fluid {
    /* border: 0; */
}

.information-content.table-responsive {
    /* border-radius: 50px; */
}

a.list-group-item {
    color: #100000;
}

    a.list-group-item:active {
    }

.content-dashboard {
    margin: 0 20px;
}

.menu-left {
    position: sticky;
    top: 0;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
    /* border: 0; */
    border-top: 1px solid #999;
}

.items .glyphicon {
    color: #fff;
    top: 50%;
    position: absolute;
    right: 0px;
    font-size: 65px;
    width: 100px;
}

.thumbnail {
    text-transform: uppercase;
    font-size: 30px;
}

    .thumbnail p {
        color: #fff;
    }

p.result {
    padding: 0;
    text-align: center;
    border-radius: 50%;
    margin-top: 19px;
    width: 85px;
    height: 50px;
    line-height: 50px;
    opacity: 0.7;
    font-size: 65pt;
    margin-left: -15px;
}

.arrow-right {
    position: absolute;
    float: right;
    right: 6px;
    top: 38%;
}

.notification {
    color: #fff;
    height: 20px;
    padding-top: 15px;
    font-size: 20px;
}

@media screen and (max-width: 990px) {
    .list-group {
        height: 100%;
    }
}

.menu-trang li {
    display: inline;
}

.menu-trang {
    text-align: center;
}



h4 {
    color: #4a4848;
    font-size: 30px;
}

.container-fluid {
    background: #343a40;
    /* border-color: #343a40; */
}

a.navbar-brand {
    color: white;
}

button.btn.btn-default {
    background: #efe66f;
}

.input-search {
    margin-top: 20px;
    /* border: 1px solid blue; */
    /* border-radius: 10px; */
    margin-bottom: 10px;
}

.Active {
    background: blue;
    color: white;
}


/*---------------------start ajax create-student -----------------*/
.create-student, .create-teacher,
.create-survey, .delete-teacher-form,
.delete-student-form, .delete-subject-form, .delete-survey-form {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #80808082;
    z-index: 999;
    display: none;
}

.add-tab {
    /*display: none;*/
    position: fixed;
    margin: 0 auto;
    min-width: 39vw;
    height: auto;
    z-index: 2;
    top: 100px;
    left: 30vw;
    color: #000000;
    /* border: 4px solid #1580dc; */
    border-radius: 5px;
    padding: 5px 7px 0 7px;
    /* border-radius: 10px; */
    background-color: #f5f5f5;
}

.input-information {
    border: none;
    border-radius: 0px;
    padding-left: 11px;
    height: 28px;
    border-bottom: 1px solid #3F51B5;
    width: 100%;
}

    .input-information:focus {
        outline: none;
    }

.border-red {
    border: 2px solid red;
}

.bottom-button {
    display: inline-block;
}

.header-tab h5 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 38px;
    line-height: 38px;
    color: #f5f5f5;
    text-transform: uppercase;
    /* background: #78c3e8; */
    background-color: #286090;
}

.header-tab {
    background: #1cea24;
    padding: 0;
    margin: -5px -7px 0px -7px;
    text-align: center;
    height: 38px;
    border-bottom: 1px solid #7c2c0f;
}

.input-information + .tooltip > .tooltip-inner {
    background-color: #ec152c;
    color: #fff;
    border: 4px solid #ffeb3b;
    padding: 4px;
    font-size: 13px;
    text-align: left;
    border-radius: 7px;
}
/*---------------------------------------*/

body {
    /*background: #56cc4f;*/
}

td {
    vertical-align: middle !important;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

th {
    text-align: center;
}

input[type="radio"] {
    font-size: 30px;
    width: 33px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.note-input {
    border: none;
    border-bottom: 1px solid #236AA1;
    font-size: 15px;
    font-style: italic;
    height: 30px;
    padding-left: 10px;
    background-color: #f5f5f5;
}

    .note-input:active {
        outline: none;
    }

a.list-group-item {
    /* background: yellow; */
    color: white;
}

a.list-group-item {
}

p {
    color: #fcf8e3 !important;
}

.row {
    background: #f5f5f5;
}

* {
}

input.form-control {
    border: none;
    font-style: italic;
    outline: none;
}

    input.form-control:active {
        font-style: normal;
    }

a.list-group-item {
    position: sticky;
    top: 0px;
}

:after, :before {
    margin-right: 4px;
}

a.list-group-item:hover {
    color: black;
}

.doneClick {
    color: black;
    background-color: white;
}





button.btn.btn-info {
    font-size: 20px;
    padding: 10px 15px;
}

.btn {
    border-radius: 0;
}

button.btn.btn-info b {
    font-size: 24px;
    font-weight: 50;
}

.content-dashboard {
    /*min-height: 92vh;*/
}
.no-review {
    background-image: url('/Assets/SignIn/images/UnderContruction.png');
    color:rebeccapurple;
}
.navbar-inverse {
    border: 0;
}

h5 {
    font-size: 20px;
}

@media screen and (max-width: 990px) {
    .menu-left {
        position: relative;
    }
}

.AddStudentToSubject {
    margin :5px 0;
    cursor: pointer;
}