<span class="icon">😀</span><span class="icon">😂</span><span class="icon">😉</span><span class="icon">😋</span>
<span class="icon">😎</span><span class="icon">😍</span><span class="icon">😘</span><span class="icon">🤩</span>
<span class="icon">🤗</span><span class="icon">😭</span><span class="icon">😔</span><span class="icon">😜</span>
<span class="icon">😨</span><span class="icon">😰</span><span class="icon">😱</span><span class="icon">😡</span>
<span class="icon">🤑</span><span class="icon">🤡</span><span class="icon">😈</span><span class="icon">💀</span>
<span class="icon">👻</span><span class="icon">☠</span><span class="icon">💩</span><span class="icon">😹</span>
<span class="icon">🙈</span><span class="icon">💘</span><span class="icon">💖</span><span class="icon">💚</span>
<span class="icon">💞</span><span class="icon">💋</span><span class="icon">💓</span><span class="icon">💔</span>
<span class="icon">🐶</span><span class="icon">🐺</span><span class="icon">🐩</span><span class="icon">🐹</span>
<span class="icon">🐼</span><span class="icon">🐻</span><span class="icon">🐧</span><span class="icon">🐷</span>
<span class="icon">🍎</span><span class="icon">🍏</span><span class="icon">🍑</span><span class="icon">🍓</span>
<span class="icon">🍅</span><span class="icon">🍇</span><span class="icon">🍄</span><span class="icon">🕗</span>
<span class="icon">🌎</span>
