
<div class="MenuOption">
    <div class="menu-bar">
        <div title="Thông báo" class="icon icon-notify">
            <i class="fa fa-bell"></i>
            <span class="badge">@ViewBag.SumNoti</span>
        </div>
        <div title="Trang cá nhân" class="icon icon-home">
            <a href="@ViewBag.UrlProfile" style="color:white"><i class="fa fa-user-circle"></i></a>
        </div>
        <div title="Lời mời kết bạn" class="icon icon-friend">
            <i class="fa fa-users"></i>
        </div>
    </div>

    <div class="notifi-clone" style="display:none">
        <a id="0" class="col-lg-12 col-md-12" style="position:relative" href="javascript:void(0)">
            <div class="col-lg-2 col-md-2">
                <div class="identify-icon">
                    
                </div>
                <div class="imgMenu">
                    <img src="" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="textNoti">
                    <h3>Nguyễn Tiến Xuân</h3> <em> </em> trong <span>Toán học</span>
                    <h4>21h30 - 24/12/2019</h4>
                </div>
            </div>
        </a>
    </div>

    <div id="notifi" style="display:none;">
        <div class="seen row">
            <div class="col-md-7 seen-noti">
                <h5>Các thông báo</h5>
            </div>
            <div class="col-md-5 seen-click-link">
                <a href="javascript:void(0)" id="have-seen">Đánh dấu đã xem</a>
            </div>
        </div>
        <div class="row notifyClass">
        </div>
    </div>


    <div class="content-option">
        <div class="menu-search">
            <input type="text" placeholder="Tìm kiếm mọi người ....">
        </div>
        <div class="container theme">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=1">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Toán học</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=2">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Hóa học</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=3">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Vật lý</h2>
                        </div>

                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=4">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Sinh học</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=5">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Ngữ văn</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=6">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Tiếng anh</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=7">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Địa lý</h2>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <a href="/Subject/GetSubject?id=8">
                        <div class="card img-fluid">
                            <img class="img-responsive" src="~/Assets/Images/Layout/book.png" alt="Card image">
                            <h2>Lịch sử</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div id="add-friend_invitation">
        <div class="row invitation_space">
            <div class="invitation-info col-md-12 col-xs-12 col-sm-12">
                <div class="invitation-info_avatar col-md-4">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="Alternate Text"
                         style="width:60px;height:60px;border-radius: 50%" />
                </div>
                <div class="col-md-8 invitation-content" style="margin-left: -10px">
                    <a href="javascript:void(0)" class="invitation-content_username">Nguyễn Tiến Xuân</a>
                    <div class="invitation-button" style="margin-top: 5px">
                        <button class="btn btn-primary add-friend_invitation_btnAdd" style="font-size: 12px">Chấp nhận</button>
                        <button class="btn btn-default add-friend_invitation_btnDelete" style="font-size: 12px">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row invitation_space">
            <div class="invitation-info col-md-12 col-xs-12 col-sm-12">
                <div class="invitation-info_avatar col-md-4">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="Alternate Text"
                         style="width:60px;height:60px;border-radius: 50%" />
                </div>
                <div class="col-md-8 invitation-content" style="margin-left: -10px">
                    <a href="javascript:void(0)" class="invitation-content_username">Nguyễn Bình Dương</a>
                    <div class="invitation-button" style="margin-top: 5px">
                        <button class="btn btn-primary add-friend_invitation_btnAdd" style="font-size: 12px">Chấp nhận</button>
                        <button class="btn btn-default add-friend_invitation_btnDelete" style="font-size: 12px">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row invitation_space">
            <div class="invitation-info col-md-12 col-xs-12 col-sm-12">
                <div class="invitation-info_avatar col-md-4">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="Alternate Text"
                         style="width:60px;height:60px;border-radius: 50%" />
                </div>
                <div class="col-md-8 invitation-content" style="margin-left: -10px">
                    <a href="javascript:void(0)" class="invitation-content_username">Cao Đức Mạnh</a>
                    <div class="invitation-button" style="margin-top: 5px">
                        <button class="btn btn-primary add-friend_invitation_btnAdd" style="font-size: 12px">Chấp nhận</button>
                        <button class="btn btn-default add-friend_invitation_btnDelete" style="font-size: 12px">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row invitation_space">
            <div class="invitation-info col-md-12 col-xs-12 col-sm-12">
                <div class="invitation-info_avatar col-md-4">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="Alternate Text"
                         style="width:60px;height:60px;border-radius: 50%" />
                </div>
                <div class="col-md-8 invitation-content" style="margin-left: -10px">
                    <a href="javascript:void(0)" class="invitation-content_username">Ngô Kiên Tuấn</a>
                    <div class="invitation-button" style="margin-top: 5px">
                        <button class="btn btn-primary add-friend_invitation_btnAdd" style="font-size: 12px">Chấp nhận</button>
                        <button class="btn btn-default add-friend_invitation_btnDelete" style="font-size: 12px">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-list-notify">
        <a id="0" class="col-lg-12 col-md-12 show-notify" style="position:relative" href="javascript:void(0)">
            <div class="col-lg-3 col-md-3">
                <div class="identify-icon">

                </div>
                <div class="imgMenu">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="textNoti">
                    <h3>Nguyễn Tiến Xuân</h3> <em>Đã đăng </em> trong <span>Toán học</span>
                    <h4>21h30 - 24/12/2019</h4>
                </div>
            </div>
        </a>
       
    </div>
</div>

<div class="people-list" id="people-list">
    <div class="search">
        <input type="text" placeholder="Tìm kiếm ...." />
    </div>
    <ul class="list">
       
    </ul>
</div>

<div class="item-friend-clone" style="display:none;">
    <ul>
        <li class="clearfix" onclick='OpenChatBox(this)'>
            <img src="#" alt="avatar" />
            <div class="about">
                <div class="name1">name</div>
                <div class="status" id="username">
                    <i class="fa fa-circle offline"></i> offline
                </div>
            </div>
            <div class="message">
            </div>
        </li>
    </ul>
</div>

<div class="chat" style="display:none">
    <div class="chat-header clearfix">
        <img src="" alt="avatar" />
        <div class="chat-about">
            <div class="chat-with"></div>
            <div class="chat-num-messages">Conversation ready</div>
        </div>
        <input type="hidden" id="partnerUserName" value="" />
        <i class="fa fa-close"></i>
    </div> <!-- end chat-header -->
    <div class="chat-history" id="ContentMessage" onscroll="LoadData(this)">
        <ul></ul>
    </div> <!-- end chat-history -->
    <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder="Nhập tin nhắn ...." rows="3"></textarea>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-smile-o"></i>
        <button id="SendClick">Gửi</button>
        <div class="list-icon" style="display:none;">
            @Html.Partial("_IconPartialView")
        </div>
    </div> <!-- end chat-message -->
</div> <!-- end chat -->
