

::-webkit-scrollbar {
	width: 0px;
}

a.username_post, a.name-reply {
	color: #9e0c9e;
}


input#inputComment, input#inputReply {
	width: 90%;
	margin-left: 5px;
	height: 36px;
	display: inline-block;
}

.name-user, .name-reply {
	font-weight: bold;
	color: #f703ed;
	padding-left: 20px;
}

.name-reply {
	padding-left: 0px;
}

	.username_post:hover, .name-reply:hover {
		text-decoration: none;
		color: blue;
	}

.time-post {
	padding-top: 5px;
	font-size: 9pt;
	color: #2a4594bd;
}

.option-seting {
	width: 3%;
	font-size: 22px;
	color: #5a5858;
	cursor: pointer;
}

	.option-seting .glyphicon {
		margin-top: 11px;
		margin-left: 40px;
		color: gray;
	}

img, .comment-level img, .comment-level2 img {
	border-radius: 50%;
}

span.glyphicon.glyphicon-thumbs-up {
	margin: 5px;
}

.infor {
	margin-left: 11px;
	margin-top: 8px;
}

.post {
	border: 1px solid #0e9a6be3;
}

.like, .comment, .save {
	text-align: center;
	height: 35px;
	line-height: 35px;
}

	.like a, .comment a, .save a {
		color: blue;
	}

	.like:hover, .comment:hover, .save:hover {
		background: #f4f75dc4;
		cursor: pointer;
	}

	.like a:hover, .comment a:hover, .save a:hover, #btnLikeComment a:hover, #btnReply:hover, #countLikeComment {
		text-decoration: none;
	}

	.like span, .save span {
		color: inherit;
	}

.option-like {
	display: flex;
	border-top: 1px solid #d9da9dc4;
}

.count-like {
	border-bottom: 1px solid;
	padding-left: 5px;
}

.content-post {
	margin: 10px;
}

.header-post {
	display: flex;
	padding-bottom: 5px;
}

	.header-post .avatar-post {
		width: 10%;
	}


.comment-level, .comment-level2 {
	padding-bottom: 5px;
	padding-left: 10px;
}

.comment-level2 {
	padding-left: 40px;
}

.comment-box, .reply-box, .edit-comment-box {
	border: 1px solid gray;
	border-radius: 15px;
	margin-top: 5px;
}

.textbox-comment, .edit-comment{
	padding-left: 10px;
}

#inputComment, #inputReply, #inputEditComment {
	border: none;
	outline: none;
}

.pick-emoji, .pick-emoji-reply, .pick-emoji-edit-comment {
	display: inline-block;
	cursor: pointer;
}

.list-icon-comment, .list-icon-reply, .list-icon-edit-comment {
	overflow: auto;
	width: 190px;
	height: 130px;
	position: absolute;
	right: 0;
	bottom: 100%;
	background: #f5f7f6;
	border: 1px solid #b9adab;
}

span.icon {
	text-align: center;
	display: inline-block;
	cursor: pointer;
	font-size: 22px;
}

.setting-menu {
	display: none;
	position: absolute;
	width: 109px;
	height: 101px;
	right: -66px;
	background: #f2f3f4;
	z-index: 9999;
}

.setting-comment_list, .setting-reply_list {
	display: none;
	position: absolute;
	right: -30px;
	height: 66px;
	background: #FEFFF0;
	width: 50px;
	z-index: 9999;
}

.setting-menu_list-item, .setting-comment_list-item, .setting-reply_list-item {
	font-size: 9pt;
	padding: 8px;
	text-decoration: none;
	border-bottom: 1px solid;
}

	.setting-comment_list-item:hover, #setting-comment, .setting-reply_list-item:hover, #setting-reply {
		cursor: pointer;
	}

	.setting-menu_list-item:last-child, .setting-comment_list-item:last-child, .setting-reply_list-item:last-child {
		border-bottom: none;
	}

	.setting-menu_list-item a, .setting-comment_list-item a, .setting-reply_list-item a {
		color: black;
		font-weight: bold;
	}

	.setting-menu_list-item:hover, .setting-menu_list-item:hover a {
		background: #3e89d8;
		color: white;
		text-decoration: none;
	}

	.setting-comment_list-item:hover, .setting-comment_list-item:hover a {
		background: #3e89d8;
		color: white;
		text-decoration: none;
	}

	.setting-reply_list-item:hover, .setting-reply_list-item:hover a {
		background: #3e89d8;
		color: white;
		text-decoration: none;
	}

.comment-level {
	margin-left: 10px;
}

.reply-content, .comment-content {
	margin-top: 9px;
	display: inline-block;
	border-radius: 15px;
	padding: 5px;
	margin-left: 10px;
	position: relative;
}

.comment-content {
	margin-top: 2px;
}

.comment-content_wrapper, .reply-content-wrapper {
	background-color: #f0f7f7;
	border-radius: 10px;
	padding: 7px;
}

.comment-content_wrapper {
	display: inline-block;
	margin-top: -6px;
	max-width: 370px;
}

.reply-content-wrapper {
	display: inline-block;
	margin-top: -6px;
	max-width: 320px;
}

.reply-button, .subcomment-button {
	margin-left: -7px;
	font-size: 9pt;
	margin-top: -17px;
}

	.reply-button a span {
		color: #337ab7;
	}

.subcomment-button {
	margin-top: 1px;
	margin-left: 43px;
}

.textbox-reply {
	display: none;
	padding-left: 45px;
}

.show-comment {
	padding-left: 16px;
	padding-top: 15px;
}

	.show-comment a:hover {
		text-decoration: none;
	}

	.show-comment a span, .countLike_post {
		color: blue;
	}

.comment-content_setting, .reply-content_setting {
	display: none;
	position: absolute;
	color: gray;
}

.reply-content_setting {
	position: unset;
}

.comment-level .row:hover .comment-content_setting, .comment-level2 .row:hover .reply-content_setting {
	display: inline-block;
}

.row.infor {
	margin-left: -7px;
}

.content-listFriendSuggest {
	margin-top: -9px;
}

#edit-clone {
	position: absolute;
	border-radius: 15px;
	padding: 5px;
	margin-top: -20px;
	margin-left: -10px;
	width: 100%;
}

